/* Reset  */
*, ::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    --webkit-font-smoothing: antialiased;
}

img, video, picture, canvas, svg {
    display: block;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5 {
    text-wrap: balance;
}

/* Styles */

body {
    isolation: isolate;
    position: relative;
    overflow: hidden;
    background-color: hsl(185, 75%, 39%);
    font-family: "Kumbh Sans";
}

.img-top {
    position: absolute;
    overflow: clip;
    z-index: 1;
    top: -120%;
    left: -40%;
    height: auto;
}

.img-bottom {
    position: absolute;
    overflow: clip;
    z-index: 1;
    bottom: -120%;
    right: -40%;
    height: auto;
}

.main {
    display: grid;
    place-content: center;
    height: 100dvh;
}

.card {
    position: relative;
    z-index: 10;
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    overflow: hidden;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 26px;
}

.card__avatar {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    border: 4px solid hsl(0, 0%, 100%);
    margin-top: calc(94px / -2);
    margin-bottom: 24px;
}

.card__title {
    font-weight: 700;
    font-size: 1rem;
    color: hsl(229, 23%, 23%);
    line-height: 1;
}

.card__title span {
    font-weight: 400;
    font-size: 1rem;
    color: hsl(229, 23%, 23%);
    line-height: 1;
}

.card__text {
    font-weight: 400;
    font-size: .875rem;
    color: hsl(229, 23%, 23%);
    line-height: 1;
}

.card-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 46px;
    justify-items: center;
    justify-content: center;
    border-top: 1px solid hsl(0, 0%, 59%);
    padding: 24px 47px;
}

.card-stats__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.card-stats__title {
    font-weight: 700;
    font-size: 1rem;
    color: hsl(229, 23%, 23%);
    line-height: 1;
}

.card-stats__text {
    font-weight: 400;
    font-size: .625rem;
    color: hsl(229, 23%, 23%);
    line-height: 1;
}
